VITE_SUPABASE_URL=https://zexwovlmaoaahkceifnj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_TR_QYBHiKWiat5adjuFFKQ_-qiGsxIW
# Add your own local secrets here:
# SUPABASE_SECRET_KEY=sb_secret_...
# SUPABASE_JWKS_URL=https://.../jwks.json
